<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv= "Content-Type" content="text/html;charset=UTF-8"/>
    <title>文件上传</title>
</head>
<body>
<!-- 图片文本框 -->
<input type="file" class="form-control" id="file" name="file" th:onchange="javascript:preview(this)">

<!-- 这个是在上传之前回显图片图片展示 -->
<div id="preview">
    　　<!--这个是为了将页面返回的图片展示出来的.默认隐藏-->
    　　<img style="width: 100px; height: 100px;display:none" id="imgHidden" />
</div>

<!-- 提交...这里pageIndex和pageSize可传可不传,主要取决于提交之后是否需要回到当前页面. -->
<button type="submit" th:onclick="javascript:submitForm([[${pageIndex}]],[[${pageSize}]])" class="btn btn-primary">提交</button>
</body>
</html>